%h1 Administration
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
          Actualités
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        %table.table.table-hover
          %thead
            %tr
              %th Id
              %th Titre
              %th Actions
          %tbody
            - @posts.each do |post|
              %tr
                %td= post.id
                %td= post.title
                %td
                  %a.btn.btn-default{href: "/posts/#{post.id}"}
                    %i.glyphicon.glyphicon-eye-open
                    Voir
                  %a.btn.btn-default{href: "/posts/#{post.id}/edit"}
                    %i.glyphicon.glyphicon-edit
                    Editer
                  %a.btn.btn-default{href: "/posts/#{post.id}", "data-method"=>"delete"}
                    %i.glyphicon.glyphicon-remove
                    Supprimer
        %a.btn.btn-default.btn-lg{href: "/posts/new"}
          %i.glyphicon.glyphicon-file
          Nouvelle Actualité
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
          Galleries
    #collapseTwo.panel-collapse.collapse
      .panel-body
        %table.table.table-hover
          %thead
            %tr
              %th Id
              %th Titre
              %th Actions
          %tbody
            - @galleries.each do |gallery|
              %tr
                %td= gallery.id
                %td= gallery.name
                %td
                  %a.btn.btn-default{href: "/galleries/#{gallery.id}"}
                    %i.glyphicon.glyphicon-eye-open
                    Voir
                  %a.btn.btn-default{href: "/galleries/#{gallery.id}/edit"}
                    %i.glyphicon.glyphicon-edit
                    Editer
                  %a.btn.btn-default{href: "/galleries/#{gallery.id}", "data-method"=>"delete"}
                    %i.glyphicon.glyphicon-remove
                    Supprimer
        %a.btn.btn-default.btn-lg{href: "/galleries/new"}
          %i.glyphicon.glyphicon-file
          Nouvelle Gallerie 
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
          Photos
    #collapseThree.panel-collapse.collapse
      .panel-body
        %table.table.table-hover
          %thead
            %tr
              %th Id
              %th Titre
              %th Action
          %tbody
            - @photos.each do |photo|
              %tr
                %td= photo.id
                %td= photo.title
                %td
                  %a.btn.btn-default{href: "/galleries/#{photo.gallery_id}/photos/"}
                    %i.glyphicon.glyphicon-eye-open
                    Voir
                  %a.btn.btn-default{href: "/galleries/#{photo.gallery_id}/photos/#{photo.id}/edit"}
                    %i.glyphicon.glyphicon-edit
                    Editer
                  %a.btn.btn-default{href: "/galleries/#{photo.gallery_id}/photos/#{photo.id}", "data-method"=>"delete"}
                    %i.glyphicon.glyphicon-remove
                    Supprimer
        %a.btn.btn-default.btn-lg{href: "#"}
          %i.glyphicon.glyphicon-file
          Ajouter une nouvelle photo 
