- @posts.each do |post|
  %h3= post.title
  %em Posté le #{post.created_at} par #{post.author}
  %p= post.body.truncate(50).html_safe
  = link_to "Lire la suite", post
%br
= will_paginate @collection, renderer: BootstrapPagination::Rails
