%h1 Nouvelle actualité
= form_for @post do |f|
  .form-group
    = f.label "Titre"
    %br
    = f.text_field :title, :autofocus => true, :class => "form-control"
  .form-group
    = f.label "Auteur"
    %br
    = f.text_field :author, :class => "form-control"
  = f.text_area :body, :class => "tinymce", :rows => 10, :cols => 30
  %br
  = f.submit "Envoyer", :class => "btn btn-default btn-lg"

= tinymce
%br
= link_to 'Retour à la liste des actualités', '/posts'
