%h3 Edition Gallerie
= form_for @gallery do |f|
  .form-group
    = f.label "Titre"
    %br
    = f.text_field :name, :autofocus => true, :class => "form-control"
  = f.submit "Editer", :class => "btn btn-default btn-lg"
%br
= link_to "Revenir en arrière", :back
